
homework_20_fall/.DS_Store
homework_21_winter(current)/Homework1/.ipynb_checkpoints/Untitled-checkpoint.ipynb
homework_21_winter(current)/Homework1/Untitled.ipynb
homework_21_winter(current)/Homework2/.ipynb_checkpoints/homework_2-checkpoint.ipynb
homework_21_winter(current)/Homework3/.DS_Store
homework_21_winter(current)/.DS_Store
homework_20_fall/Homework3/.DS_Store
.ipynb_checkpoints
-checkpoint.ipynb

lecture/lec_6/.ipynb_checkpoints/lecture_6-checkpoint.ipynb
lecture/lec_7/.ipynb_checkpoints/lecture_7-checkpoint.ipynb
lecture/lec_4/.ipynb_checkpoints/lecture_4-checkpoint.ipynb
lecture/lec_2/.ipynb_checkpoints/lecture_2-checkpoint.ipynb
lecture/lec_5/.ipynb_checkpoints/lecture_5-checkpoint.ipynb
lecture/lec_8/.ipynb_checkpoints/lecture_8-checkpoint.ipynb
lecture/lec_9/.ipynb_checkpoints/lecture_9-checkpoint.ipynb
